* {
    font-family: 'Fuzzy Bubbles', cursive;
    margin: 0px auto;
}
.container {
    /* border: 2px solid red; */
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* INICIO NAV-BAR */
.nav-bar {
    /* border: 2px solid red; */
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color:lightskyblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
.nav-title {
    /* border: 2px solid red; */
    margin: 0px 20px 0px 200px;
    padding: 0px 0px 0px 0px;
    color: whitesmoke;
    font-size: 50px;
}
.nav-links {
    /* border: 2px solid red; */
    margin: 0px 200px 0px 20px;
    padding: 0px 0px 0px 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}
.nav-city {
    /* border: 2px solid red; */
    margin: 0px 40px 0px 50px;
    padding: 0px 0px 0px 0px;
    color: whitesmoke;
    /* font-size: 30px; */
}
/* FINAL NAV-BAR */

/* INICIO CONTAINER PRINCIPAL */
.flex-container-principal {
    /* border: 2px solid red; */
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    /* width: 80%; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* align-items: center; */
}
/* INICIO HEADER */
.header {
    /* border: 2px solid red; */
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
    border-bottom: 3px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}
.header-title {
    /* border: 2px solid red; */
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 40px;

}
.header-flex-container {
    /* border: 2px solid red; */
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}
.header-text {
    /* border: 2px solid red; */
    margin: 0px 10px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-weight: bold;
}
.temp-list {
    /* border: 2px solid red; */
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 3px solid black;
}
.celsius {
    /* border: 2px solid red; */
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.fahrenheit {
    /* border: 2px solid red; */
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
/* FINAL HEADER */

/* INICIO CONTAINER CENTRAL */
.flex-container-central {
    /* border: 2px solid red; */
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.day-l {
    /* border: 2px solid red; */
    margin: 20px 20px 20px 0px;
    padding: 0px 0px 0px 0px;
    background-color: rgb(241, 239, 239);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 200px;
}
.day-c {
    /* border: 2px solid red; */
    margin: 20px 20px 20px 20px;
    padding: 0px 0px 0px 0px;
    background-color: rgb(241, 239, 239);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 200px;

}
.day-r {
    /* border: 2px solid red; */
    margin: 20px 0px 20px 20px;
    padding: 0px 0px 0px 0px;
    background-color: rgb(241, 239, 239);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 200px;
}
.day-title {
    /* border: 2px solid red; */
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.day-weather {
    /* border: 2px solid red; */
    width: 160px;
    margin: 20px 20px 20px 20px;
    padding: 0px 0px 0px 0px;
    border-radius: 50%;
}
.day-text {
    /* border: 2px solid red; */
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-weight: bold;
    font-size: 15px;

}
.day-container {
    /* border: 2px solid red; */
    margin: 20px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.max-t {
    /* border: 2px solid red; */
    margin: 10px 40px 10px 10px;
    padding: 0px 0px 0px 0px;
    color: red;
    font-weight: bold;
    font-size: 20px;
}
.min-t {
    /* border: 2px solid red; */
    margin: 10px 10px 10px 40px;
    padding: 0px 0px 0px 0px;
    color:blue;
    font-weight: bold;
    font-size: 20px;
}
/* FINAL CONTAINER CENTRAL */

/* INICIO CONTAINER BOTTOM */
.bottom-flex-container {
    /* border: 3px solid black; */
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    bottom: 10px;
}
.coockie-container {
    border: 3px solid black;
    background-color: rgb(241, 239, 239);
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.coockie-pic {
    /* border: 2px solid red; */
    margin: 0px 0px 0px 20px;
    padding: 0px 0px 0px 0px;
    border-radius: 50%;
    width: 75px;
    height: 75px;
}
.coockie-message {
    /* border: 2px solid red; */
    margin: 10px 10px 10px 10px;
    padding: 0px 0px 0px 0px;
    flex: 2;
}
.coockie-title {
    /* border: 2px solid red; */
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 20px;
}
.coockie-text {
    /* border: 2px solid red; */
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 20px;
}
.coockie-btn {
    border: 3px solid black;
    background-color:rgba(114, 182, 251, 0.678);
    margin: 0px 40px 0px 40px;
    padding: 5px 15px 5px 15px;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 5px 5px 5px black;
    text-align: center;
}
/* FINAL CONTAINER BOTTOM */

/* FINAL CONTAINER PRINCIPAL */